*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* font family import  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Poppins:wght@400;600;700&display=swap');


body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* nav section css start  */


nav{
    background-color: #9376e0;
}
.container{
  display: flex;
  min-height: 50px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;


}

.logo{
  display: flex;
  align-items: center;
  width: 50%;
    
}
.logo img{
    width: 100px;
    object-fit: cover;


}
.logo p{
  font-size: 3rem;



}

.logo p span{
    color: #e893cf;
}


/* menu css  */
.menu{
    width: 50%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu a{
   text-decoration: none;
   color: #fff;
   font-weight: 700;
}

a.btn-fire{
    background-color: #e893cf;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 700;
}
a.btn-fire:hover{
    background-color: #fff;
    color: #e893cf;
    cursor: pointer;
}